<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h1>Que lastima que te vayas</h1>
    <p>
        Su cuenta fue eliminada exitosamente. <br>
        Recuerda que puedes volver cuando quieras https://acme-ips.herokuapp.com/. <br>
    </p>
    <p>¡Gracias por haberse unirse y hasta pronto!</p>
</body>

</html>
