<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h1>Bienvenido a ACME-IPS, <%= @user.name %></h1>
    <p>
        Te has registrado correctamente en https://acme-ips.herokuapp.com/.<br>
    </p>
    <p>
        Para agendar una cita en el sitio, simplemente siga este enlace: https://acme-ips.herokuapp.com/citas.
    </p>
    <p>¡Gracias por unirse y que tenga un gran día!</p>
</body>

</html>
