<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>ACME IPS</title>
</head>

<body>
  <%= image_tag("inicio.jpg", :alt => "Fondo Inicio") %>
</body>

</html>
