<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACME IPS</title>

    <!-- CSS -->
    <link rel="stylesheet" href="app\assets\stylesheets\home.scss">
    <link rel="stylesheet" href="app\assets\stylesheets\navbar.scss">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">ACME IPS</label>
        <ul>
            <li><a class="active" href="#">Inicio</a></li>
            <li><a href="citas.html">Citas</a></li>
            <li><a href="#">Iniciar Sesión</a></li>
            <li><a href="#">Registrarse</a></li>
        </ul>
    </nav>
    <section></section>
</body>

</html>
