<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag 'tickets', 'data-turbolinks-track': 'reload' %>
  <title>Mi QR</title>
</head>

<body>
  <div class="d-flex align-items-center justify-content-center vh">
      <img id="myImg" src="https://chart.googleapis.com/chart?cht=qr&chl=<%= @ticket.qrcode %>&chs=400x400&chld=H|1" class="qr-code img-thumbnail img-responsive" />
  </div>
</body>

</html>