<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'citas', 'data-turbolinks-track': 'reload' %>
    <title>Citas</title>
</head>

<body>
    <%= image_tag("Mobile_marketing.svg", :class => "svg") %>
</body>

</html>
